<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <title>{{ title }} - My Event List</title>
    </head>
    <section id="grid-container">
    <header>
        <ul>
          <li>My new normal Christmas events page</li>
          <li><button class="home-button"><a href="/">Home</a></button></li>
          <li><button class="info-button"><a href="/info">Info</a></button></li>
        </ul>
    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>    
    <footer>
      <p>&copy; 2020 CodeClan</p>
    </footer>
  </section>
</html>